form {
  width: 500px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

section {
  display: flex;
}

section form,
section div {
  flex: 1;
}

.people {
  margin: 0 10px;
}

hr {
  margin: 40px 0;
}

button {
  margin: 10px;
}

.file-group {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
